# auto backup file
*~
.DS_Store
*.swp
*.spot
*.spit
*.annot
*-runner

# auto generate file
OMakefile.config

# compiled result
habc.exe
habc-scm.exe
habc-xml.exe
habc-scm
habc-xml
habc
*.cm[aoix]
*.omc
*.[ao]
*.cmxa

.omakedb
.omakedb.lock

*.run
*.opt